
/* PAGINA LOGIN  */


.loginLogoCol {
  background-image: url(https://static-exp1.licdn.com/aero-v1/sc/h/dxf91zhqd2z6b0bwg85ktm5s4);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center left;
}
  @media screen and (max-width: 768px) {
    .loginLogoCol {
      background-position: center;

    }
  }
.loginText {
  color: #8f5849;
  font-size: 5rem;
  font-weight: 200;
  line-height: 1.1;
}

.loginUser {
  font-size: 1.5rem;
  color: #0a66c2;
  border: 1px solid #0a66c2;
  border-radius: 50%;
  height: 100px;
  width: 100px!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.loginUser:hover {
  color: #fff;
  background-color: #0a66c2;
  box-shadow: 0px 2px 10px  #0a66c2;
}

/* --------------------------------------- */

.NavBarLogo {
  color:#0077B5 ;
  height: 41px;
  width: 41px;
}
.NavBarAllLogo{
  height: 25px;
  width: 25px;
} 
.NavBarLinkedin {
  display: flex!important;
  justify-content: space-around!important;
  align-items: center!important;
}
.NavbarForm{
  height: 40px !important;
}
.NavbarUser{
  width: 25px;
  height: 25px;
  border-radius: 20px;
}
.dropdown-list{
  list-style: none;
}
#navbarScrollingDropdown::after{
  content: ''!important;
  
}
.dropdown-toggle::after{
  content: ''!important;
  border-top: 0!important;
}
.nav-link{
  display: flex;
}
.NavbarDiv{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
@media  screen and (max-width: 700px) {
  .NavBarSpan{
    display: none;
  }
}
@media screen and (max-width: 460px) {
  .NavBarAllLogo{
    width: 20px;
    height: 20px;
  }
  .NavBarLogo{
    width: 25px;
    height: 25px;
  }
}
.NavBarList{
  color: #86888A;
}
.NavBarList:hover{
  color: #313335;
}
.NavbarUserList{
  width: 60px;
  height: 60px;
  margin-right: 6px;
  border-radius: 30px;
}
.NavbarHover{
  color: #86888A;
}
.NavbarHover:hover{
  color: #313335 !important;
}
.CanvassDiv{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.canvassCardDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddee0;
  border-radius: 10px;
  color: #86888A;
}
.canvassCardDiv:hover{
  color: #313335;
}
.NavBarAllLogoCanvass{
  height: 40px;
  width: 40px;
  color: #0077B5;
}
.canvassSmaller{
  font-size: 12px;
  color: #86888A;
}